#
# Miscellaneous I2C chip drivers configuration
#
# *** DEPRECATED! Do not add new entries! See Makefile ***
#

menu "Miscellaneous I2C Chip support"

config INPUT_CWSTM32
       tristate "CyWee CWSTM32 Sensor HUB"
       depends on I2C && INPUT
       select INPUT_POLLDEV
       help
         This driver provides support for CWSTM32 Sensor HUB.

config SENSORS_NFC_PN544
	tristate "PN544 NFC sensor support"
	depends on I2C=y
	help
	PN544 NFC Driver implemented.

config INPUT_CAPELLA_CM32181
        tristate "CM32181 light sensor"
        help
          Say Y here to enable the CM32181 Ambient Light Sensor.

config AMP_RT5506
        tristate "Richtek RT5506 AMP Driver"
	depends on I2C=y
        help
          Richtek RT5506 AMP Driver implemented by HTC.

config AMP_TFA9887
        tristate "NXP TFA9887 Speaker AMP Driver"
	depends on I2C=y
        help
         NXP TFA9887 Speaker AMP Driver implemented by HTC.

config AMP_TFA9887L
        tristate "NXP TFA9887L Speaker AMP Driver"
	depends on I2C=y
        help
         NXP TFA9887L Speaker AMP Driver implemented by HTC.

config SYNC_TOUCH_STATUS
        bool "Sync touch i2c switch status to sensor hub"
	default n
	help
	  Sync touch i2c switch status to sensor hub

endmenu
